.idea
main/venv/
main/.idea/
main/dataset/*
main/__pycache__/
main/features/__pycache__/
main/utils/__pycache__/
main/.pytest_cache
main/media/*
main/data.json
server/nlp/.idea
server/nlp/target
server/nlp/nlp.iml
dataset/
.DS_Store
main/kmain.py
main/classification/__pycache__/
ML_model/utils/__pycache__/utils.cpython-37.pyc
ML_model/features/__pycache__/UserBasedFeatures.cpython-37.pyc
ML_model/features/__pycache__/ContextBasedFeatures.cpython-37.pyc
